
body{

    overflow-x:hidden; 
    


}
h1,h2,h3,h4,h5,h6 { 
    margin-bottom:40px;  
    margin-top:40px; 
    text-transform: uppercase;   
    font-weight: normal;    
    letter-spacing:1px; 
}


p{
    font-size:15px;
    line-height: 1.6;
    margin-top: 25px;
    margin-bottom: 25px;
    color:black;

}

a {    color: #28c3ab;    
       -webkit-transition: all 1s ease-in-out;   
       -moz-transition: all 1s ease-in-out;    
       transition: all 1s ease-in-out;}

a:hover,a:focus {    color: #176e61;}


/* Front page*/

.home{

    padding:0px 0px;

}

.background-img-home {

    background-image: url("../img/ciudad.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.75);
     min-height: 500px;
     text-align: center;

}

.background-img-home p {
    color: black;
    font-size: 25px;
    letter-spacing: normal;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 1);
    margin-bottom: 0px;
    margin-top:30px;
}

.background-img-home h1{
    font-size: 50px;
    color:black;
    font-weight: 100;
    text-align: center;
    margin-top:20px;
}


.btn-custom-download{
    font-size: 30px;
    text-shadow: none;


}


section{
    padding:50px 0px;
   
    
}

.bordesCaja{
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding:0;
    overflow-x:hidden; 
}


.CajaServicio{
    -moz-box-sizing: border-box;
    list-style: none outside none !important;
    margin-top:50px;
}


.CajaServicio h3 {

    margin:5px;
    font-size:18px;

}



.h2Servicios{
    font-size:37px;
    margin:0px 0px 0px 0px;
}

.pServicios
{

    font-style: italic;
    font-size:17px !important;
    margin:0;
    color:gray;

}

#servicios{
    
     min-height: 500px;
     padding-bottom: 20px;
    
}



/*About*/



#About{
     background-image: url("../img/fondoGaleria.jpg");

     min-height: 500px;
     
}

#servicios .widget{
    
    margin-bottom:30px;
    
}

#About h3{
    
    color:gray;
}




#About p{

    font-size:16px;
    color:white;
    padding-top:30px;
    margin:0 !important;
    

}

#About .background-texto-about{


    padding:30px 0px;
    color:black;


}


#About h1{

    border-radius:0px;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 70px;
    position: relative;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top:0px;

}




/*FIN ABOUT*/


/* FOOTER */

#colophon{
    background-color: black;
    padding-top:60px;




}


.barraFooter{

    background-color:#222222;
    min-height: 50px;


}
.barraFooter a{


    font-size:15px;

}

.barraFooter p{

    text-align: center !important;
    margin-top:23.5px;
}

#colophon .form-horizontal label{

    padding-top:0px;

}

#colophon h3{

    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    color:white;

}

#colophon ul{

    list-style: none;
    padding: 0;
    text-align: left;


}

#colophon ul li a{

    color:white;



}

#colophon p{
    text-align: left;
    color: white !important;
}

#colophon span{

    color:gray;


}



/*FIN FOOTER*/





/* Suelto */

.navbar{

    border-radius:0;
    text-transform: uppercase; 
    color:red;

}

/*404*/
.error-404{
    background-color: white;
    color:slategray;

    text-align: center;
}

.page-template-404 #primary{

    padding-top:0px !important;

}

.error-404 .page-header{

    border:none;
    padding: 0;

}

.error-404 .page-header .page-title{

    font-size:150px;
    margin:0;


}

.error-404 .page-header h2 {
    font-size: 20px;

}

.error-404 .search-form{

    margin-bottom: 20px;

}

.error-404  .border{

    margin-top:65px;
    margin-bottom:65px;
    min-height: 500px;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: whitesmoke;
    padding: 40px 0px;

}
/*FIN 404*/


/*Widgets*/

.widget {

    margin-bottom: 40px;
    min-height: 200px;


}

.widget span{
    
    margin-bottom: 20px;
}

.wpcf7-form-control-wrap textarea{

    background-color: rgba(0,0,0,0);
    width: 100%;
    border:1px solid;
    padding: 5px;
}

.wpcf7-form-control-wrap input{

    padding:5px;
    width:100%;
    -moz-box-sizing: border-box;
    background: linear-gradient(#4DBCE9, #4DBCE9) no-repeat scroll left bottom / 1px 6px, linear-gradient(#A9A9A9, #A9A9A9) repeat-x scroll center bottom / 1px 1px, linear-gradient(#4DBCE9, #A9A9A9) no-repeat scroll right bottom / 1px 6px rgba(0, 0, 0, 0);
    border: medium none;
    outline: medium none;



}

.wpcf7-form-control .wpcf7-submit{

    width: 100% !important;
    color:white;


}

div.wpcf7-validation-errors{

    color:white;

}

#wp-calendar{
    width:100%;
    text-align:center;
    color: gray;
}

#wp-calendar tbody{

    height: 200px;

}

#wp-calendar caption{

    text-align: center;
    color:black;


}




#wp-calendar thead tr th{

    text-align:center;

}

.widget li{


    margin-bottom:5px;
}


.widget p {

    color:gray;
    margin:0px 0px 5px 0px;


}


.widget img {

    max-width:100%;
    height: auto;

}

.widget select{
    max-width: 100%;


}

.widget h3 {

    margin: 0px 0px 20px 0px;

}

.widget ul{

    list-style: none;
    padding:0 !important;
}

.rssSummary{

    color:slategray;
    font-size:15px;
}


/*Fin Widgets*/

/*Blog*/


.blog{
    color:black;
}



.blog #primary {

    padding-top: 25px;

}



/*Fin Blog*/

/*Single*/

.single #primary {

    padding-top: 25px;


}

.single h1{
    margin-top:0px;

}

.single .hentry {
    
    padding:20px 10px;
    text-align: left;
}
.hentry .entry-header > h1{

    
 padding-left: 23px !important;

}

.comment-respond{
 
    padding: 10px 27px;
    

}

.comment-respond label{

    display: block;

}

.comment-respond input {
    width: 50%;
    margin-bottom:10px;


}


.comment-respond textarea {
    width: 70%;
    border: none;
    -webkit-box-shadow: inset 0px 0px 3px -1px black;
    -moz-box-shadow: inset 0px 0px 3px -1px black;
    box-shadow: inset 0px 0px 3px -1px black;
    padding:5px;
}

.comment-respond .submit {
    width: auto;

}

.comment-respond span{
    
    font-size:14px;
}

.comment-respond p {
    font-size: 14px;
    
}




/*fin Single*/

/* Widget-area Horizontal*/

.widget-area-horizontal{

    text-align: center;
    padding-top:25px;
    border-left: 3px solid whitesmoke;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.75);
    




}

.widget-area-horizontal .widget-area .widget {
  
    margin: auto auto 30px;
    max-width: 100%;
    min-height: 200px;

}

.widget-area-horizontal .widget-area .widget {
  
    margin: auto auto 30px;
    max-width: 100%;
    min-height: 200px;




}

.widget-area-horizontal .widget-area .widget a{

    color:black;
 
}

.widget-area-horizontal .widget-area .widget h3{

    padding:5px;
    margin-bottom: 10px;


}



.widget-area-horizontal .widget_rss ul{

    padding:10px !important;

}

/*Fin widget area*/

/*Page*/






/*Fin Page*/

/*Archive*/

.archive #primary{
    padding-top: 25px;
}

.archive header{
    margin-top:0px;

}

.archive header .page-title {

    margin-top:0px;


}
/*Fin Archive*/

.hentry{

    background-color: whitesmoke;
    max-width: 100%;
    margin:0px auto 30px auto;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);  
    text-align: center;
    padding: 20px 7px;
    border-radius:15px;
        

}

.hentry .entry-meta {

    padding: 5px 27px;

}

.hentry .entry-content{

    padding:5px 27px 5px 27px;
}

.hentry .entry-content p{

    font-size: 14px;

}

.hentry img{
    
    width: 100%;
    max-height: 300px;
}



.hentry .entry-footer {

    padding: 5px;
    text-align: center;
}

.hentry .entry-header > h1{

    
   
    margin-top:0px !important;
    margin-bottom: 5px;
    padding: 5px;
    font-size:25px;


}



.hentry  a{

    color:black;
    text-decoration: none;
}

.hentry .entry-summary {

    padding:5px 27px 5px 27px;
}

.hentry .entry-summary p{

    margin-bottom: 25px;
}

.hentry p{
    color:#5A6065;
    
}

.hentry span {
    color:#5A6065;
    
}


.type-page{
    
    background-color: white !important;
    box-shadow: none;
}


.type-page h1{
   
 background-color: #222222;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    font-size: 30px !important;
    line-height: 70px;
    margin-bottom: 30px !important;
    position: relative;
    padding:0px;
    text-align:center;
    margin-top:30px !important; 
}

.type-page .entry-content{
    
    padding: 0px;
}

.type-page p{
    padding:10px 10px;
    margin-bottom: 10px;
}

.type-page hr{
    
    margin:30px 0px 50px 0px;
    
}



/*Search*/

.search header{

    margin-top:0px;

}

.search header h1{

    margin-top:0px;

}

.search #primary{
    padding-top:25px;


}

.search .negocio .entry-summary{
    margin-top:10px;

}

.search .page .entry-summary {

    margin-top:10px;

}

/*Fin search*/

blockquote {
    
margin-top:50px !important;
margin-bottom: 50px !important;
    
}

blockquote p{
    
    font-size:23px;
    font-style: italic;
    
}

/*11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

div .wpcf7-validation-errors{
    
    border: 2px solid #4DBCE9 !important;
}


/*Galeria Front Page*/

#galeria {
  background-image: url("../img/fondoGaleria.jpg");
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75) inset;
    padding-top: 15px; 

}


#galeria .caja-imagen img{
    
    max-width: 100%;
    height: 100%;
    
}

#galeria .caja-imagen {
 
height: 100%;


-webkit-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.75);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.75);
    margin-top:30px;
    
}




#galeria .caja-imagen .caja-texto-imagen {
 

    position: relative;
    height: 100%;
    background-color: white;
    padding: 10px;
        
    
}


#galeria .caja-imagen .caja-texto-imagen p {
 

 font-size:13px;
        
    
}


#galeria .caja-imagen .caja-texto-imagen h3 {
 
margin-top:10px;
margin-bottom: 10px;

        
    
}


#galeria h2 {
    
    font-size: 40px;
    margin-bottom: 50px;
    color:white;
}
/*Fin Galeria Front Page*/

/*Caracteristicas*/

#caracteristicas{
    border-bottom: 1px solid gainsboro;
    position:relative;
     padding-bottom: 50px;
    padding-top: 70px;
}


#caracteristicas .caja-icono{
        float: left;
    position: relative;
    top: 20px;
    width: 20%;
    
}


#caracteristicas .caja-texto{
   float: left;
    height: auto;
    width: 80%;
    
}

#caracteristicas .caja-texto p {
    
    font-size: 15px;
    margin:0px;
    
}

#caracteristicas .caja-texto h3{
    
    font-size: 17px;
    margin-bottom:15px;
   
    
    
}

#caracteristicas .contenido-pagina .efecto-caja{
    
    margin-bottom: 20px;
    min-height: 250px;
    
}

#caracteristicas .contenido-pagina:hover .efecto-caja {
    
    opacity: 0.2;
    
}

#caracteristicas .contenido-pagina .efecto-caja:hover {
    
    opacity:1;
    cursor:pointer;
}

/*Fin Caracteristicas*/

/*Suscribete*/

#subscribete{
    height: auto;
    background-color: whitesmoke;
}

#subscribete h2{
    
    margin:0px;
    font-size:40px;
    
}


#subscribete p{
    
    margin:0px;
    color:gray;
    
}

#subscribete form {
    margin-top:12px;
    position: relative;
    
  
    
}

/*Fin suscribete*/


/*Perfil Empresa*/

#contenido_menu_empresa{
     padding: 20px;
    text-align: center;
   
}

#contenido_menu_empresa h1 {
    color:black;
}

#contenido_menu_empresa p{
    
    color:#5A6065 !important;
    
}

#contenido_menu_empresa .empresa{
    
color:black !important;
    
}

#contenido_menu_empresa span {
    color:black;
}


#menu_perfil_empresa{
    background-color: whitesmoke;
    
    
}


#logo_empresa img{
    
    -webkit-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 3px -2px rgba(0,0,0,0.75);
    
}

/*Fin Perfil*/

/* logo whatsee*/

.background-img-home .logo_wahtsee {
    
    max-height: 300px;
    text-aling:center;
   
}